<div id="postspan">
  <%= image_tag 'postspan.png' %>
</div>

<div class="subtitle">
  <h2><%= @event.title %></h2>
</div>

<div class="container post-container">
  <p><%= @event.description %></p>
</div>

<div class="container" id="event_images">
  <% @event.images.each do |i| %>
    <%= link_to i.content.url, target: '_blank', class: 'event-img' do %>
      <%= image_tag i.content.url(:thumb) %>
    <% end %>
  <% end %>
</div>