<div id="intro_span">
  <%= image_tag 'homespan.jpg', id: 'homespan' %>
  <div id="intro_overlay">
    <h1>MIT's Women Business Leaders</h1>
    <p class="mission">MIT Women Business Leaders establishes a network of women undergraduates, faculty, alumnae and professionals to empower women in their business endeavors and support them in the development of their careers. We support our members in their personal and professional pursuits during and after their years at MIT. </p>
    <i class="fa fa-3x fa-arrow-circle-down"></i>
    <p>Learn More</p>
  </div>
</div>

<!-- Exec showcase -->
<div id="exec_showcase_title">
  <h2>Our Exec Board</h2>
</div>
<div class="container" id="exec_showcase">
  <!-- <h2>Our Exec Board</h2> -->
  <% @exec_board.each do |e| %>
    <% is_empty = e.try(:name).nil? %>
    <div class="exec-box <%= 'placeholder' if is_empty %>">
      <% unless is_empty %>
        <% if e.portrait.exists? %>
          <%= image_tag e.portrait.url %>
        <% else %>
          <img src="http://fakeimg.pl/150x200/">
        <% end %>
        <p class="nameline">
          <span class="name"><%= e.name %></span>,
          <span class="position"><%= e.title %></span>
        </p>
      <% end %>
    </div>
  <% end %>
</div>