<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "MIT Women Business Leaders" %></title>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <meta name="viewport" content="width=1200, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="container">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png', id: 'logo' %>
      <% end %>
      <nav>
        <ul>
          <%= nav_item 'About Us', posts_path('about-us'), @nav_path == '/posts/about-us' %>
          <%= nav_item 'Leadership', leadership_path, @nav_path == '/leadership' do %>
            <%= nav_item 'Board Members', leadership_path, false %>
            <%= nav_item 'Org Chart', posts_path('org-chart'), false %>
          <% end %>
          <%= nav_item 'Membership', posts_path('member-involvement'), @nav_path == '/membership' do %>
            <%= nav_item 'Member Involvement', posts_path('member-involvement'), false %>
            <%= nav_item 'Club Digests', club_digests_path, false %>
          <% end %>
          <%= nav_item 'Events', calendar_path, @nav_path =~ /^\/events/ do %>
            <%= nav_item 'Calendar', calendar_path, false %>
            <% Event.find_each do |e| %>
              <%= nav_item e.title, events_path(e.slug), false %>
            <% end %>
          <% end %>
          <%= nav_item 'Sponsors', sponsors_path, @nav_path == '/sponsors' %>
          <%= nav_item 'Alumnae', alumnae_path, @nav_path == '/alumnae' %>
          <%= nav_item 'Contact Us', posts_path('contact-us'), @nav_path == '/posts/contact-us' %>
        </ul>
      </nav>
    </div>
  </header>

  <%= yield %>

  <footer>
    <div id="subscribe_panel">
      <div class="container">
        <a href="<%= new_subscription_path %>"><p><span class="emph">Subscribe</span> to our mailing list to find out about future events</p></a>
        <a href="<%= new_subscription_path %>"><p id="subscribe">Subscribe</p></a>
      </div>
    </div>
    <div id="footer">
      <p>© 2015 MIT Women Business Leaders</p>
    </div>
  </footer>

</body>
</html>
